#vs {
  position: relative;

  height: 70px;
  
  border-bottom: 1px solid black;
}

#vs > * {
  position: absolute;
  
  top: 0;
  bottom: 0;
}

#vs .trainer {
  width: 375px;
}

#vs #trainer0 {
  right: 425px;
}

#vs #trainer1 {
  left: 425px;
}

#vs img {
  position: relative;
  
  width: 40px;
  height: 40px;
  
  margin: 15px 10px;
}

#vs #trainer0 img { 
  float: right;
}

#vs #trainer1 img {
  float: left;
}

#vs p {
  margin-top: 25px;
}

#vs #trainer0 p {
  text-align: right;
}

#vs #trainer1 p {
  text-align: left;
}

#vs h2 {
  text-align: center;
  
  left: 0;
  right: 0;
}

#battle {
  position: relative;

  height: 530px;
}

#battle .monsterContainer {
  width: 740px;
  height: 129px;
  
  padding: 30px;
  
  position: relative;
}

#battle .monster img {
  width: 129px;
  height: 129px;
}

#battle #monsterContainer0 .monster {
  float: right;
}

#battle #monsterContainer1 .monster {
  float: left;
}

#battle .dataContainer {
  width: 600px;
}

#battle #monsterContainer0 .dataContainer {

}

#battle #monsterContainer0 .dataContainer .arrow {
  display: inline-block;
  border-right: 55px solid rgba(0,0,0,0);
  border-bottom: 16px solid #334;
  width: 0;
  margin-top: 63px;
  height: 0;
  margin-left: -1px;
}

#battle #monsterContainer1 .dataContainer {
  float: right;
}

#battle #monsterContainer0 .dataContainer .arrow {
  display: inline-block;
  border-left: 55px solid rgba(0,0,0,0);
  border-bottom: 16px solid #334;
  width: 0;
  margin-top: 63px;
  height: 0;
  margin-left: -1px;
}

#battle #monsterContainer0 .data {
  float: left;
}

#battle #monsterContainer1 .data {
  float: right;
}

#battle .data {
  width: 300px;
  height: 100 px;
  
  padding: 15px;
  
  border-radius: 3px;
  border: 1px solid black;
}

#battle .lifebar {
  position: relative;
  
  height: 20px;
  width: 300px;
  
  border: 1px solid black;
  border-radius: 3px;
  
  overflow: hidden;
}

#battle .lifebar .hp {
  position: absolute;
  
  width: 100%;
  
  text-align: center;
}

#battle .lifebar .life {
  height: 100%;
}

#battle h4 {
  margin: 0;
  margin-bottom: 5px;
}
