.menuButtons {
	width: 100%;
	margin-bottom: 20px;
	padding: 7px 76px;
}

#menuButtonsContainer {
	display: inline-block;
	position: absolute;
	
	width: 300px;
	left: 50%;
	
	margin-left: -150px;
	margin-top: 10%;
	
}

#menu {
	width: 100%;
	height: 100%;
}
